/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
body {
    background-color: #F6F8F9;
}

/* Header Section */
header {
background-color: #FFFFFF;
}

#logo {
    margin-left: 10px;
    padding: 10px;
}

/* Section: Add task and section*/

#first-section {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 70%;
    margin-top: 30px;
    margin-left: 250px;
    padding: 15px;
}

#first-section-task {
    background-color: #14AAF5;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-left: 40px;
}

#first-section-section {
    border: 1px solid #DCE0E3;
    display: inline-block;
    width: 104px;
    height: 28px;
    text-align: center;
    line-height: 26px;
}

.first-section-borders {
    border-radius: 5px;
}

/* List Section */
#main-background {
    background-color: #FFFFFF;
    width: 70%;
    margin-top: 2px;
    margin-left: 250px;
    padding: 30px;
    padding-left: 50px;
    border-radius: 2px;
}

/*Today Section*/
#purple-tag {
    background-color: #AB5DE6;
}

#green-tag {
    background-color: #2CC6AB;
}

#orange-tag {
    background-color: #FF9B00;
}

/* For all section */
h2 {
    display: inline-block;
    padding-bottom: 5px;
}

.arrow-size {
    font-size: x-large;
}

.checkmarks {
    display: inline-block;
    color: #2CC6AB;
    font-size: x-small;
    border: 1px solid #2CC6AB;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 18px;
}

div {
    padding-left: 2px;
}

.text {
    display: inline-block;
    padding-left: 5px;
}

.editorial-tag {
    background-color: #09A9ED;
}

.tags {
    display: inline-block;
    border-radius: 15px;
    padding: 4px;
    width: 70px;
    font-size: small;
    color:#FFFFFF;
    text-align: center;
}

.cross {
    display: inline-block;
    color: #FF0000;
    font-size: x-small;
    border: 1px solid #FF0000;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 18px;
}

.text-space {
    padding-bottom: 15px;
}

.last-option {
    padding-bottom: 30px;
}

